.header {
    display: flex;
    gap:10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-transform: uppercase;
    color:#94A3B8;
    width: 100%;
    background-color: transparent;
}
