 .App {
   font-family: "PT Sans", "Arial", sans-serif;
   display: flex;
   flex-direction: column;
   gap: 5px;
   background-color: blanchedalmond;
   height: 100vh;
 }

 .app__todo-list {
   width: 70%;
   max-width: 1300px;
   margin: 0 auto;
   box-shadow: 5px 5px gray;

 }

 .app__btn {
   height: 100%;
   border: 1px inset gray;
   padding: 3px;
   background-color: rgb(245, 240, 240);
 }

 .app__btn:hover {
   opacity: 0.5;
   transition: opacity 100ms ease-in;
   cursor: pointer;
 }